---
const { variant, size } = Astro.props;
---

<button class={variant + " " + size}><slot /></button>

<style>
  button {
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Hind Madurai", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  @media (min-width: 800px) {
    button {
      padding: 15px 25px;
    }
  }

  /********** variant **********/
  .primary {
    background-color: var(--accentgreen);
    color: var(--backgroundcolor);
  }

  .primary:hover {
    background-color: var(--hovergreen);
  }

  .secondary {
    background-color: var(--lillabutton);
    color: var(--backgroundcolor);
  }

  .secondary:hover {
    background-color: var(--lillabuttonhover);
  }
</style>
