---
const {variant, size} = Astro.props;
---

<button class={variant + " " + size}><slot/></button>

<style>
    button {
  border-radius: 10px; 
  padding: 10px 20px; 
  border: none;
  cursor: pointer; 
}

/********** variant **********/
.primary{
    background-color: var(--accentgreen); 
  color: var(--backgroundcolor); 
}

.primary:hover {
    background-color: var(--hovergreen);
}

.secondary{
    background-color: var(--lillabutton); 
  color: var(--backgroundcolor); 
}

.secondary:hover{
    background-color: var(--lillabuttonhover);
}

/*********** size ***********/

/*********** Mobil *********/
@media (max-width: 800px){
    .size{
    font-size: 1rem;
}
}

/*********** Mobil *********/
@media (min-width: 800px){
    .size{
    font-size: 1.2rem;
}
}

</style>