---
const { data } = Astro.props;
---

<article>
  <img src={"img_karrusel/" + data.image} alt={"image of " + data.artistName} />
  <h3>{data.artistName}</h3>
  <h4>{data.dato}</h4>
  <p>Country: {data.country}</p>
  <span>spotify</span>
  <a href="../pages/singleview.astro">Read more</a>
</article>

<style>
  article {
    display: border-box;
    background-color: var(--lillacard);
  }

  img {
    width: 250px;
  }
</style>
