---
const {img, header3, header4, text} =Astro.props;
---

<article>
    <img src={img} alt="Placeholder">
    <h3>{header3}</h3>
    <h4>{header4}</h4>
    <p>
        {text}
    </p>
    <a href="../pages/singleview.astro">Read more</a>
</article>

<style>
article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding-top: 10px;
  padding-bottom: 100px;
}

</style>