---
const { img, header3, header4, text } = Astro.props;
---

<article>
  <img src={img} alt="Placeholder" />
  <h3>{header3}</h3>
  <h4>{header4}</h4>
  <p>
    {text}
  </p>
  <a href="../pages/singleview.astro">Read more</a>
</article>

<style>
  article {
    display: border-box;
    width: auto;
    height: 400px;
    background-color: pink;
  }
</style>
