---
import Buttons from "./Buttons.astro";
---

<footer>
  <img
    src="../../public/img_karrusel/karrusel_logo_sort.svg"
    alt="karrusel logo"
  />
  <div class="form">
    <h2>Hold yourself updated with a newsletter!</h2>

    <form>
      <label for="Email"></label>
      <input
        type="text"
        id="Email"
        name="Email"
        required
        placeholder="Email:"
      /><br />
      <label for="telNo"></label>
      <input
        type="tel"
        id="phone"
        name="phone"
        required
        placeholder="Tlf:"
      /><br /><br />
      <Buttons variant="primary" size="size">Send </Buttons>
    </form>
  </div>
  <div class="contact">
    <h3>Contact</h3>
    <p>
      Email: <a href="https://www.nusnus.dk/contact/">info@nusnus.dk</a>
      <br />
      Karrusel is organized by <a href="https://www.nusnus.dk/">NusNus</a>
    </p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--offWhite);
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
  }

  img {
    width: 50%;
    align-self: center;
    margin-bottom: 50px;
  }
  h2 {
    text-align: center;
  }
  form {
    padding-bottom: 50px;
  }
  input {
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    width: 100%;
  }

  input[id="Email"] {
    border-radius: 10px 10px 0 0;
  }

  input[id="phone"] {
    border-radius: 0 0 10px 10px;
  }

  label {
    display: none;
  }

  @media (min-width: 800px) {
    footer {
      background-color: var(--offWhite);
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      padding: 0 50px 0 50px;

      bottom: 0;
    }

    .form {
      padding-bottom: 0;

      margin: 20px 50px 20px 50px;
    }
    form {
      padding-bottom: 0;
    }
    input {
      height: 40px;
    }
    img {
      width: 20%;
      margin-bottom: 0;
    }
  }
</style>
