---
import Buttons from "./Buttons.astro";
---

<footer>
  <img
    src="../../public/img_karrusel/karrusel_logo_sort.svg"
    alt="karrusel logo"
  />
  <div class="form">
    <h2>Hold yourself updated with a newsletter!</h2>

    <form>
      <label for="Email"></label>
      <input
        type="text"
        id="Email"
        name="Email"
        required
        placeholder="Email:"
      /><br />
      <label for="telNo"></label>
      <input
        type="tel"
        id="phone"
        name="phone"
        required
        placeholder="Tlf:"
      /><br /><br />
      <Buttons variant="primary" size="size">Send </Buttons>
    </form>
  </div>
  <div class="contact">
    <h3>Contact</h3>
    <p>
      Email: info@nusnus.dk.
      <br />
      Karrusel is organized by Nus Nus.
    </p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--offWhite);
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
  }

  img {
    width: 50%;
    align-self: center;
    margin-bottom: 50px;
  }
  h2 {
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  input {
    box-sizing: border-box;
  }

  input[id="Email"] {
    border-radius: 10px 10px 0 0;
  }

  input[id="phone"] {
    border-radius: 0 0 10px 10px;
  }

  label {
    display: none;
  }
  input[type="submit"] {
    border: pink 1px solid;
  }

  @media (min-width: 800px) {
    footer {
      background-color: var(--offWhite);
      display: flex;
      flex-direction: row-reverse;
      padding: 50px 50px;
    }
  }
</style>
