---
import Buttons from "./Buttons.astro";
---

<footer>
  <img
    class="logo"
    src="/img_karrusel/karrusel_logo_sort.svg"
    alt="karrusel logo"
  />
  <div class="form">
    <h3 class="h3">Hold yourself updated with a newsletter!</h3>

    <form>
      <label for="Email"></label>
      <input
        type="text"
        id="Email"
        name="Email"
        required
        placeholder="Email:"
      /><br />
      <label for="telNo"></label>
      <input type="tel" id="phone" name="phone" required placeholder="Tlf:" />
      <Buttons variant="primary" size="size">Send </Buttons>
    </form>
  </div>
  <div class="contact">
    <h3>Contact</h3>
    <p>
      Email: <a class="a_lilla" href="https://www.nusnus.dk/contact/"
        >info@nusnus.dk</a
      >
    </p>
    <br />
    <p>
      Karrusel is organized by <a class="a_lilla" href="https://www.nusnus.dk/"
        >NusNus</a
      >
    </p>

    <div class="iconer">
      <a
        href="https://www.facebook.com/events/602360444604770/?acontext=%7B%22ref%22%3A%2252%22%2C%22action_history%22%3A%22[%7B%5C%22surface%5C%22%3A%5C%22share_link%5C%22%2C%5C%22mechanism%5C%22%3A%5C%22share_link%5C%22%2C%5C%22extra_data%5C%22%3A%7B%5C%22invite_link_id%5C%22%3A401093138774337%7D%7D]%22%7D"
        target="_blank"
        ><img src="/img_karrusel/facebook_icon.svg" alt="facebook icon" /></a
      >
      <a href="https://www.instagram.com/karruselfest/" target="_blank"
        ><img
          src="../../public/img_karrusel/instagram_icon.svg"
          alt="instagram icon"
        /></a
      >
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: var(--offWhite);
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    margin-top: auto;
    align-items: center;
  }

  .logo img {
    width: 45%;
    margin-bottom: 50px;
  }
  .h3 {
    text-align: center;
  }
  .iconer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  .iconer a img {
    width: 40px;
  }

  form {
    padding-bottom: 50px;
  }
  input {
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    width: 100%;
  }

  input[id="Email"] {
    border-radius: 10px 10px 0 0;
  }

  input[id="phone"] {
    border-radius: 0 0 10px 10px;
  }

  label {
    display: none;
  }

  @media (min-width: 800px) {
    footer {
      background-color: var(--offWhite);
      display: flex;
      flex-direction: row-reverse;
      align-items: start;
      justify-content: center;
      padding: 0;
      margin: 0;
      padding: 0 50px 0 50px;
      bottom: 0;
    }

    .form {
      margin: 0px 50px 0px 50px;
    }
    form {
      padding-bottom: 50px;
    }
    input {
      height: 40px;
    }
    .logo {
      width: 12%;
      margin-bottom: 0;
      padding-bottom: 50px;
      padding-top: 50px;
    }

    .h3 {
      padding-top: 50px;
    }

    .contact {
      padding-top: 50px;
    }
  }
</style>
