---

---

<header>
  <div class="hamburger_menu">
    <input id="menu_toggle" type="checkbox" />
    <label class="menu_knap" for="menu_toggle">
      <span></span>
    </label>

    <ul>

      <li><a href="/line_up">Line up</a></li>
      <li><a href="/ticket">Tickets</a></li>
      <li><a href="/map">Map</a></li>

      <li>
        <a id="logo" href="/"
          ><img
            src="../../public/img_karrusel/karrusel_logo_sort.svg"
            alt="logo"
          /></a
        >
      </li>
      <li><a href="/volunteer">Volunteer</a></li>
      <li><a href="/about_us">About us</a></li>
    </ul>
  </div>
</header>

<style>
  /******** Brugermenu ************/
  @media (max-width: 800px) {
    #menu_toggle:checked ~ ul {
      right: 0;
    }

    .menu_knap span {
      position: fixed;
      top: 5px;
      right: 5px;
      width: 50px;
      height: 50px;
      cursor: pointer;
      z-index: 2;
      background-size: cover;
      background-image: url(logo.svg);
    }

    .hamburger_menu ul {
      display: block;
      position: fixed;
      top: 0;
      right: -100%;
      width: 200px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      text-align: center;
      background-color: var(--backgroundcolor);
    }

    li {
      padding: 10px 0;
    }

    header a {
      color: var(--offWhite);
    }

    /**** Skjuler checkbox ****/
    #menu_toggle {
      opacity: 0;
    }

    /**** Når man klikker på burgermenu laver den kryds ****/
    #menu_toggle:checked + .menu_knap > span {
      transform: rotate(45deg);
    }
    /*Samlet set betyder > span i dette kontekst, at CSS-reglen vil blive anvendt på <span>-elementet, der er et direkte barn af .menu_knap (label-elementet), når checkboxen med id "menu_toggle" er afkrydset (checked).*/

    #menu_toggle:checked + .menu_knap > span::before {
      top: 0;
      transform: rotate(0deg);
    }
    /*Samlet set betyder #menu_toggle:checked + .menu_knap > span::before, at CSS-reglen vil blive anvendt på pseudo-elementet ::before på <span>-elementet, som er et direkte barn af .menu_knap (label-elementet), når checkboxen med id "menu_toggle" er afkrydset (checked). Dette er ofte brugt til at skabe ekstra dekorative elementer, såsom linjer eller symboler, før indholdet af det valgte element.*/

    #menu_toggle:checked + .menu_knap > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    /*Samlet set betyder #menu_toggle:checked + .menu_knap > span::after, at CSS-reglen vil blive anvendt på pseudo-elementet ::after på <span>-elementet, som er et direkte barn af .menu_knap (label-elementet), når checkboxen med id "menu_toggle" er afkrydset (checked). Dette kan bruges til at tilføje yderligere dekoration eller stil til "hamburger"-ikonet efter det faktiske indhold af <span>.*/

    /**** Viser selve menuen ****/
    #menu_toggle:checked ~ ul {
      right: 0 !important;
    }
    /*~: Dette er "general sibling combinator" og vælger alle efterfølgende søskende elementer af det tidligere valgte element, der deler samme forælder.*/

    /**** Udsseende af burgermenu knappen ****/
    .menu_knap {
      position: fixed;
      top: 20px;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }

    /**** Viser burgermenu med de 3 streger ****/
    .menu_knap > span,
    .menu_knap > span::before,
    .menu_knap > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fcfbf9;
    }

    .menu_knap > span::before {
      content: "";
      top: -8px;
    }
    .menu_knap > span::after {
      content: "";
      top: 8px;
    }
  }

  #menu_toggle {
    display: none;
  }

  .hamburger-menu label,
  .hamburger-menu input {
    position: absolute;
    display: none;
    z-index: 1;
  }

  .menu_knap span {
    background-image: url(favicon.svg);
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 20px 0;
    margin-bottom: 30px;
  }

  header a {
    text-decoration: none;
    padding: 5px 15px;
    margin: 0 10px;
  }

  .logo img {
    max-width: 80px;
  }

  /******* Desktop **********/
  @media (min-width: 800px) {
    li :hover {
      color: var(--hovergreen);
      border-bottom: solid 2px var(--hovergreen);
      border-radius: 2px;
    }

    #logo :hover {
      color: var(--hovergreen);
      border-bottom: none;
      border-radius: 2px;
    }

    header a {
      color: var(--offBlack);
    }
    header {
      background-color: var(--offWhite);
    }
  }
</style>
