---
import Buttons from "../componets/Buttons.astro";

const { navn, beskrivelse, beskrivelse1, pris } = Astro.props;
---

<div class="ticket_2">
  <div class="information">
    <p class="navn">{navn}</p>
    <p class="pris">{pris}</p>
  </div>
  <div class="description">
    <div>
      <p class="beskrivelse">{beskrivelse}</p>
      <p class="beskrivelse1">{beskrivelse1}</p>
    </div>
    <div class="ticket_knap">
      <Buttons variant="primary" size="size"><a href="ticket">Buy</a></Buttons>
    </div>
  </div>
  <img class="background" src="img_karrusel/ticket.png" alt="ticket" />
</div>

<style>
  .ticket_2 {
    display: grid;
    width: 100%;
  }
  .information {
    grid-column: 1;
    grid-row: 1;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: start;
    padding-left: 50px;

    padding-right: 40px;

    padding-top: 20px;
    font-size: 1.3rem;
    color: var(--lillatekstcard);
  }
  .description {
    grid-column: 1;
    grid-row: 1;
    z-index: 10;
    align-self: end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 27px;

    color: var(--lillatekstcard);
  }

  .background {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    width: 100%;
  }
  .navn {
    font-weight: bold;
  }
  .pris {
    font-weight: bold;
  }
  @media (min-width: 800px) {
    .ticket_2 {
      width: 500px;
    }

    .information {
      font-size: 1.8rem;
      padding-right: 50px;
    }

    .description {
      padding-bottom: 10px;
      padding-right: 50px;
    }
    Button {
      padding: 7px 24px;
    }
  }
</style>
