:root {
  --offWhite: #fdfbfb;
  --offBlack: #151414;
  --accentgreen: #cffa72;
  --hovergreen: #81b01b;
  --backgroundcolor: #241945;
  --lillabutton: #7f68c1;
  --lillabuttonhover: #b198f7;
  --lillacard: #332168;
  --lillatekstcard: #2d224c;
}

/* @font-face {
  font-family: H1;
  src: url(Jubilee Lines MN Regular.ttf);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********************main******************/

/********** Font ***********/
/***************************** Styles ********************************/
/********** H1 ***********/
/********************************************************** Dowload ***********************************/
h1 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}

/********** Link ***********/
a {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/********* en klasse til links forstyrede knapperne ****/
.a {
  color: var(--accentgreen);
}

.a:hover {
  color: var(--hovergreen);
}

.a_lilla {
  color: var(--lillacard);
}

.a_lilla:hover {
  color: var(--backgroundcolor);
}

/********** H2, H3, H4, menu li ***********/
h2,
h3,
h4,
li a {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}
main {
  color: var(--offWhite);
}
/********** Brødtekst, Forms tekst, Important points ***********/
p,
input,
textarea,
.important_points {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/********** Header green ************/
.header_green {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  color: var(--accentgreen);
}

/***************************** Size **********************************/

a {
  font-size: 20px;
}

li a {
  font-size: 18px;
}

/********** Mobil ***********/
h1 {
  font-size: 32px;
}
h2,
.header_green {
  font-size: 28px;
}
h3,
.important_points {
  font-size: 24px;
}
h4,
input,
textarea {
  font-size: 18px;
}

p {
  font-size: 16;
}

/********** Desktop *********/
@media (min-width: 800px) {
  h1 {
    font-size: 35px;
  }
  h2,
  .header_green {
    font-size: 30px;
  }
  h3,
  .important_points {
    font-size: 26px;
  }
  h4,
  input,
  textarea {
    font-size: 22px;
  }

  p {
    font-size: 18;
  }
}
