:root {
  --offWhite: #fdfbfb;
  --offBlack: #151414;
  --accentgreen: #cffa72;
  --hovergreen: #81b01b;
  --backgroundcolor: #241945;
  --lillabutton: #7f68c1;
  --lillabuttonhover: #b198f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********************main******************/

main {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

main {
  min-height: 100vh;
  padding-bottom: 100px;
}

/********** Font ***********/
/***************************** Styles ********************************/
/********** H1 ***********/
/********************************************************** Dowload ***********************************/

/********** Link ***********/
a {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/********** H2, H3, H4, menu li ***********/
h2,
h3,
h4,
li a {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}

/********** Brødtekst, Forms tekst, Important points ***********/
p,
input,
.important_points {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/********** Header green ************/
.header_green {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

/***************************** Size **********************************/
p {
  font-size: 18;
}

a {
  font-size: 20px;
}

li a {
  font-size: 26px;
}

/********** Mobil ***********/
@media (max-width: 800px) {
  h1 {
    font-size: 40px;
  }
  h2,
  .header_green {
    font-size: 28px;
  }
  h3,
  .important_points {
    font-size: 24px;
  }
  h4,
  input {
    font-size: 18px;
  }
}

/********** Desktop *********/
@media (min-width: 800px) {
  h1 {
    font-size: 64px;
  }
  h2,
  .header_green {
    font-size: 32px;
  }
  h3,
  .important_points {
    font-size: 28px;
  }
  h4,
  input {
    font-size: 26px;
  }
}
