---
import MainLayout from "../layouts/MainLayout.astro";
import Buttons from "../componets/Buttons.astro";
---

<MainLayout title="About us">
  <div class="billede_med_tekst">
    <img src="img_karrusel/about_us.png" alt="person i smok" />
    <h1>About us</h1>
    <h2 class="header_green">Karrusel</h2>
  </div>

  <h2>Festival experience History</h2>
  <section class="top_section">
    <p>
      Karrusel believes in the right to a harassment-free festival experience.
      We believe in the right of everyone to express themselves. Karrusel
      welcomes everybody - all with their different orientations, experiences,
      histories and backgrounds.Karrusel only exists if everyone takes care of
      each other, respects their own and others boundaries, embraces diversity
      and acts as a part of the community.
      <br />
    </p>

    <p>
      If you feel unsafe, please reach out to our awareness team. They will be
      wearing a pink vests and walk around the site and be at their base (see on
      this map). Ask any festival staff and they will guide you to the them.
      Take responsibility for your own actions. Respect your own and others
      boundaries. Speak up rather than look the other way
    </p>
  </section>

  <div class="article_grid">
    <article class="bar_grid">
      <h2>Sustainability</h2>
      <p>
        Karrusel is committed to becoming more sustainable. In order to save
        resources and reduce waste we use left over materials and timber for
        stage designs and installations. We will re-use production and print
        materials when possible year after year. Beverages are served in
        reusable or sustainable materials. Straws are not being used.

        <br />
        How you can help: Take a bike or public transport to the festival. Don’t
        bring confetti or glitter to the festival. There will be free tap water stations
        during the festival. Please bring an empty cup or bottle and drink nice free
        tap water.
      </p>
    </article>

    <article>
      <h2>History</h2>
      <p>
        2024 marks the 5th edition of Karrusel. Karrusel is a circus themed rave
        presenting some of the world's leading electronic artists. Past editions
        include performances by Acid Pauli, Amelie Lens, Dixon, FJAAK, Folamour,
        Hunee, Job Jobse, Kölsch, Mall Grab, Nastia, Partiboi69, Peggy Gou,
        Richie Hawtin, Skin On Skin, The Blessed Madonna, Victor Ruiz and VTSS.
        The festival is open air and takes place on secluded green spot at the
        abandoned shipyard of Refshaleøen in central Copenhagen.
      </p>
    </article>

    <article>
      <h2>Contact</h2>
      <p>
        Email: <a href="https://www.nusnus.dk/contact/">info@nusnus.dk</a>
        <br />
        Karrusel is organized by <a href="https://www.nusnus.dk/">NusNus</a>
        <br />
        <a href="https://www.instagram.com/karruselfest/">Instagram</a>
        <br />
        <a
          href="https://www.facebook.com/events/602360444604770/?acontext=%7B%22ref%22%3A%2252%22%2C%22action_history%22%3A%22[%7B%5C%22surface%5C%22%3A%5C%22share_link%5C%22%2C%5C%22mechanism%5C%22%3A%5C%22share_link%5C%22%2C%5C%22extra_data%5C%22%3A%7B%5C%22invite_link_id%5C%22%3A401093138774337%7D%7D]%22%7D"
          >Facebook</a
        >
        <br />
        <a href="https://ra.co/events/1768065">Resident Advisor event</a>
      </p>
    </article>

    <article class="stage_grid">
      <h2>2024</h2>
      <p>
        Karrusel, Copenhagen, Refshaleøen 22-24 August 2024 3 days of house,
        disco, and techno in the magical forest. Karrusel takes place at a
        secluded green spot on Refshaleøen in central Copenhagen. Address:
        Refshalevej 193, 1432 Copenhagen. Early Bird Festival Passes on sale now
        until 1 April.
      </p>
    </article>
  </div>

  <div class="form">
    <h2>Hold yourself updated with a newsletter!</h2>

    <form>
      <label for="Email"></label>
      <input
        type="text"
        id="Email"
        name="Email"
        required
        placeholder="Email:"
      /><br />
      <label for="telNo"></label>
      <input type="tel" id="phone" name="phone" required placeholder="Tlf:" />
      <Buttons variant="primary" size="size">Send </Buttons>
    </form>
  </div>
</MainLayout>

<style>
  /* Billede med tekst */
  .billede_med_tekst {
    display: grid;
    place-items: center;
    position: relative;
    padding-bottom: 50px;
  }
  img {
    min-width: 100%;
    max-height: 600px;
    height: auto;
    display: block;
    object-fit: cover;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
  }

  .header_green {
    position: absolute;
    top: 52%;
    left: 52%;
  }

  h2 {
    padding-bottom: 20px;
  }
  article {
    background-color: var(--lillatekstcard);
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    margin: 50px 0 50px 0;
  }

  .article_grid {
    gap: 20px;
    padding-top: 50px;
  }

  .top_section {
    padding: 10px;
  }
  @media (min-width: 800px) {
    article {
      padding: 30px;
      margin: 0;
    }

    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .article_grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-top: 100px;
    }

    .bar_grid {
      grid-column: 1/3;
    }

    .stage_grid {
      grid-row: 2/3;
      grid-column: 2/4;
    }
  }

  .form {
    padding-top: 50px;
  }
  form {
    padding-bottom: 50px;
  }
  input {
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  input[id="Email"] {
    border-radius: 10px 10px 0 0;
  }

  input[id="phone"] {
    border-radius: 0 0 10px 10px;
  }

  label {
    display: none;
  }

  @media (min-width: 800px) {
    .form {
      padding-bottom: 0;

      margin: 20px 50px 20px 50px;
    }
    form {
      padding-bottom: 0;
    }
    input {
      height: 40px;
    }
  }
</style>
