---

import LayoutIndex from "../layouts/LayoutIndex.astro";
import IndexButtons from "../componets/IndexButtons.astro";
import Countdown from "../componets/Countdown.astro"
---

<LayoutIndex> 
   <div class="forsidebilde">
    <img src="../../public/img_karrusel/forside.png" alt="forside bilde"/>
        <h2>KARRUSEL FESTIVAL OPENS IN</h2>
        <Countdown />
        <div class="knapper_forside">
          <IndexButtons class="lineup_knap" variant="primary" size="size"><a href="line_up">Lineup</a></IndexButtons>
      <IndexButtons class="ticket_knap" variant="primary" size="size"><a href="ticket">Tickets</a></IndexButtons>
   </div>
  </div>
        <!-- <a href="path/to/line_up.astro">
  <img class="lineup_knap" src="../../public/img_karrusel/lineup_knap.png" alt="Lineup knap">

  <a href="path/to/ticket.astro">
  <img class="ticket_knap" src="../../public/img_karrusel/ticket_knap.png" alt="Lineup knap">
</a>
</div> -->

<div>
  <div class="grid03">
       <div class="grid03_text">
        <h1>Karrusel</h1>
    <h2 class="header_green">FESTIVAL</h2>
          <p>
            Karrusel believes in the right to a harassment-free festival experience. 
            We believe in the right of everyone to express themselves. Karrusel welcomes 
            everybody, all with their different orientations, experiences, histories and 
            backgrounds. 
            </p>
            <p>
  Karrusel is committed to becoming more sustainable. In order to save resources and reduce waste we use left over materials and timber for stage designs and installations. We will re-use production and print materials when possible year after year. Beverages are served in reusable or sustainable materials. Straws are not being used.</p> 
  <div class="col_button">
                <a class="volunteer_button" href="volunteer.astro">Read more</a>
            </div>
   
  <div class="grid03_img">
            <img src="../../public/img_karrusel/map_forside.png" alt="Map forside">
        </div>
         <div><IndexButtons variant="secondary" size="size"><a href="map">Map</a></IndexButtons>
       </div>
  </div>



<!-- <div>
<img class="volunteer_index" src="../../public/img_karrusel/volunteer_index.png" alt="Volunteer forside">
</div> -->
</LayoutIndex>



<style>
    .forsidebilde {
  margin-top:-200px;
  display: grid;
  place-items: center;
  position: relative;
  padding-bottom: 50px;
}
img {
  min-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

 h1 {
    position: absolute;
    top: 110%;
    left: 13%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
  }

  .header_green {
    position: absolute;
    top: 117%;
    left: 20%;
  }

.grid03 {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.grid03_img {
  height: auto;
  max-width: 10px;
  margin-top: 60px;
  margin-bottom: 60px;
  /* box-shadow: 3px 3px 6px rgba(30, 30, 30, 0.2); */
  /* border-radius: 5px; */
}

.grid03_text {
font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: -100px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: -20px;
}

.knapper_forside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  gap: 850px;
  padding-top: 400px;
}

 

  h2 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding-bottom: 40px;
  }
/* 
  .lineup_knap {
margin-left: -310%;
margin-top: -230%;
width: 150px;
height: auto;
  }

  .ticket_knap {
margin-left: 310%;
margin-top: -230%;
width: 150px;
height: auto;
  } */


@media (max-width: 800px) {
   h2 {
position: relative;
   }
   img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* .lineup_knap {
width: 100px;
height: auto;
margin-left: -130%;
margin-top: 230%;
}

.ticket_knap {
width: 100px;
height: auto;
margin-left: 130%;
margin-top: -53%;
} */
    }
</style>
