---
import MainLayout from "../layouts/MainLayout.astro";
import Buttons from "../componets/Buttons.astro";
---

<MainLayout title="forside"> 
    <h2>hi</h2> 
    <Buttons variant="primary" size="desktop">Read more</Buttons>
    <Buttons variant="secondary" size="mobil">Read more</Buttons>


</MainLayout>
