---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../componets/Card.astro";

const data = await fetch(
  "https://mxyfxhqkhfgyyjilxsyp.supabase.co/rest/v1/kunstner",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im14eWZ4aHFraGZneXlqaWx4c3lwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTIxMjcsImV4cCI6MjAyNjA2ODEyN30.350mDzxoRHMq4A0wyQk4cc2Fks8AFFXKxv7PEaTSbIs",
    },
  }
).then((respone) => {
  return respone.json();
});
---

<MainLayout title="Line up">
  <div class="karrusel_bogstav">
    <div class="green_h1">
      <h1 class="karrusel_1">Line up</h1>
      <h2 class="header_green">2024</h2>
    </div>
    <section class="line_up">
      {
        //map bliver brugt til at køre igennem vores data og for hver gang vi
        //har noget data så retunere den noget data i vores card.
        data.map((artist) => {
          return <Card data={artist} />;
        })
      }
    </section>
  </div>
</MainLayout>

<style>
  .green_h1 {
    text-align: center;
    padding-bottom: 50px;
  }
  .header_green {
    position: relative;
    left: 9%;
  }
  .line_up {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
  }

  @media (min-width: 800px) {
    body {
      background-image: url(../../public/img_karrusel/karusel_bogstav_bagrund.svg);
      width: 100%;
    }
  }
</style>
