---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../componets/Card.astro";
---

<MainLayout title="Line up"> 
    <h2>Line-up</h2> 
    <Card img="../../img_karrusel/forside.jpeg" header3="Code Walk" header4="Friday 23.08.24" text="Country: Denmark"></Card>
    <Card img="../../img_karrusel/forside.jpeg" header3="Code Walk" header4="Friday 23.08.24" text="Country: Denmark"></Card>
    <Card img="../../img_karrusel/forside.jpeg" header3="Code Walk" header4="Friday 23.08.24" text="Country: Denmark"></Card>
    <Card img="../../img_karrusel/forside.jpeg" header3="Code Walk" header4="Friday 23.08.24" text="Country: Denmark"></Card>
    <Card img="../../img_karrusel/forside.jpeg" header3="Code Walk" header4="Friday 23.08.24" text="Country: Denmark"></Card>
    <Card img="../../img_karrusel/forside.jpeg" header3="Code Walk" header4="Friday 23.08.24" text="Country: Denmark"></Card>    
</MainLayout>