---
import MainLayout from "../layouts/MainLayout.astro";
import Buttons from "../componets/Buttons.astro";
---

<MainLayout>
  <div class="grid_1_1">
    <div class="ticket_2">
      <img src="img_karrusel/ticket.png" alt="ticket" />
      <img src="img_karrusel/ticket.png" alt="ticket" />
    </div>

    <div class="ticket_3">
      <img src="img_karrusel/ticket.png" alt="ticket" />
      <img src="img_karrusel/ticket.png" alt="ticket" />
      <img src="img_karrusel/ticket.png" alt="ticket" />
    </div>
  </div>
</MainLayout>

<style>
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }

  .ticket_2 {
    display: grid;
  }
  body {
    background-image: url("img_karrusel/Vector.png");
    object-fit: cover;
  }
</style>
