---
import MainLayout from "../layouts/MainLayout.astro";
import Buttons from "../componets/Buttons.astro";
const { variant, size } = Astro.props;
---

<MainLayout>
    <p class="navn_ticket">Tickets</p>
    <img src="img_karrusel/ticketknap_ticket.png" alt="" class="ticket_image">

    <article>
    <div class="ticket_2">
      <p class="navn">Early bird</p>
      <p class="pris">1800kr</p>
      <p class="beskrivelse">Save money and get a </p>
      <p class="beskrivelse1">full festival pass</p>
    </div>
      <div class="buy_knap"><Buttons class="ticket_knap" variant="primary" size="size"><a href="ticket">Buy</a></Buttons></div>
      <img src="img_karrusel/ticket.png" alt="ticket"/>
    </article>

     <!--  <p class="navn">All Day Pass</p>
      <p class="pris">2000kr</p>
      <p class="beskrivelse">Full festival pass</p>
      <Buttons class="ticket_knap" variant="primary" size="size"><a href="ticket">Buy</a></Buttons>
      <img src="img_karrusel/ticket.png" alt="ticket" />
    </div>

    <div class="ticket_3">
      <div class="foeste_dag">
        <p class="navn">Thursday 22nd</p>
        <p class="pris">1000kr</p>
      </div>
      <p class="beskrivelse">One day pass</p>
      <Buttons class="ticket_knap" variant="primary" size="size"><a href="ticket">Buy</a></Buttons>
      <img src="img_karrusel/ticket.png" alt="ticket" />

      <div class="anden_dag">
        <p class="navn">Friday 23rd</p>
        <p class="pris">1000kr</p>
      </div>
      <p class="beskrivelse">One day pass</p>
      <Buttons class="ticket_knap" variant="primary" size="size"><a href="ticket">Buy</a></Buttons>
      <img src="img_karrusel/ticket.png" alt="ticket" />

      <div class="trejde_dag">
        <p class="navn">Saturday 24th</p>
        <p class="pris">1000kr</p>
      </div>
      <p class="beskrivelse">One day pass</p>
      <Buttons class="ticket_knap" variant="primary" size="size"><a href="ticket">Buy</a></Buttons>
      <img src="img_karrusel/ticket.png" alt="ticket" />
    </div>
  </div>-->
</MainLayout>

<style>

article{
    position: relative;
}
.buy_knap{
    position: absolute;
    bottom: 30px; 
    left: 395px;
}
.ticket_image{
editor.fontFamily: "Jubilee Lines MN Regular.ttf, 'OtherFint', sans-serif";
  width: 50%;

}
.navn_ticket{
    position: absolute;
    font-size: 5rem;
    font-weight: bold;
    left: 345px;
    top: 200px;
}
.navn{
    position: absolute;
    bottom: 100px; 
    font-weight: bold;
    font-size: 30px;
    left: 10px;
    color:  #2d224c;

  }
  .pris{
    position: absolute;
    bottom: 100px; 
   font-weight: bold;
    left: 400px;
    font-size: 1.8rem;
    color:  #2d224c;
  }
  .beskrivelse{
    position: absolute;
    bottom: 60px; 
    left: 50px;
 color:  #2d224c;
 font-size: 20px;
 
  }
  .beskrivelse1{
    position: absolute;
    bottom: 35px; 
    left: 50px;
    color:  #2d224c;
    font-size: 20px;
  }






  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }

  .ticket_2 {
   
  }
  
  body {
    background-image: url("img_karrusel/Vector.png");
    object-fit: cover;
  }

  @media (max-width: 1150px) {
    .grid_1_1 {
      display: block;
    }
  }
  .ticket_2 {
    display: block;
  }
 
  .navn {
    padding-left: 40px;
  }
  .foeste_dag {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 280px;
  }
  .anden_dag {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 300px;
  }

  .trejde_dag {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 280px;
  }
  .beskrivelse {
    position: absolute;
  

</style>
