---
import MainLayout from "../layouts/MainLayout.astro";
import Ticketcard from "../componets/Ticketcard.astro"
import Buttons from "../componets/Buttons.astro";
const { variant, size } = Astro.props;

---

<MainLayout>
  <div class="grid_1_1">

    <Ticketcard navn="Early bird" pris="1800 kr" beskrivelse="Save money and get a" beskrivelse1="full festival pass"/>

    <Ticketcard navn="All day pass" pris="2000 kr" beskrivelse="Full festival pass" />

      <Ticketcard navn="Thursday 22nd" pris="1000 kr" beskrivelse="One day pass" />

        <Ticketcard navn="Friday 23rd" pris="1000 kr" beskrivelse="One day pass" />

         <Ticketcard navn="Saturday 24th" pris="1000 kr" beskrivelse="One day pass" />
  </div>
</MainLayout>

<style>
  .grid_1_1{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    }
    
</style>

